body {
    font-family: Arial, sans-serif;
    background-color: #F0E68C;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container {
    padding: 24px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"],
button[type="button"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"] {
    margin-right: 10px;
}

#popup {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background color */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */

    /* Additional styling for better readability */
    text-align: center;
}

#popup h2 {
    font-size: 24px; /* Increase heading size */
    margin-bottom: 20px;
}

#popup p {
    margin: 10px 0;
}

#popup button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; /* Adjusted margin for spacing */
}

#popup button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

